mypy
loguru

# Note: apps start with cli ux-ui using lazyvim in development environments
tdqm
typer
rich
inquirerpy
cryptography
send2trash
pytest

# Interop with Rust and python
# https://www.maturin.rs/tutorial.html
maturin

# zstd in python
# https://pypi.org/project/zstandard/
zstandard

# Maybe needed if not included by others
# pybase64
